# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-log.txt
pip-delete-this-directory.txt
status.egg
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/

# Project Specific
matter-corpus/data/raw_pdfs/*
!matter-corpus/data/raw_pdfs/.gitkeep
matter-corpus/data/processed/*
!matter-corpus/data/processed/.gitkeep
